USE [master]
GO
/****** Object:  Database [Projekt2]    Script Date: 04.05.2025 11:30:30 ******/
CREATE DATABASE [Projekt2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projekt2', FILENAME = N'D:\SQLSERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\Projekt2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Projekt2_log', FILENAME = N'D:\SQLSERVER\MSSQL16.MSSQLSERVER\MSSQL\DATA\Projekt2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projekt2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projekt2]
GO
/****** Object:  Table [dbo].[Absenteeism_at_work]    Script Date: 04.05.2025 11:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Absenteeism_at_work](
	[ID] [smallint] NOT NULL,
	[Reason_for_absence] [tinyint] NOT NULL,
	[Month_of_absence] [tinyint] NOT NULL,
	[Day_of_the_week] [tinyint] NOT NULL,
	[Seasons] [tinyint] NOT NULL,
	[Transportation_expense] [smallint] NOT NULL,
	[Distance_from_Residence_to_Work] [tinyint] NOT NULL,
	[Service_time] [tinyint] NOT NULL,
	[Age] [tinyint] NOT NULL,
	[Work_load_Average_day] [int] NOT NULL,
	[Hit_target] [tinyint] NOT NULL,
	[Disciplinary_failure] [bit] NOT NULL,
	[Education] [tinyint] NOT NULL,
	[Son] [tinyint] NOT NULL,
	[Social_drinker] [bit] NOT NULL,
	[Social_smoker] [bit] NOT NULL,
	[Pet] [tinyint] NOT NULL,
	[Weight] [tinyint] NOT NULL,
	[Height] [tinyint] NOT NULL,
	[Body_mass_index] [tinyint] NOT NULL,
	[Absenteeism_time_in_hours] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compensation]    Script Date: 04.05.2025 11:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compensation](
	[ID] [smallint] NOT NULL,
	[comp_hr] [tinyint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reasons]    Script Date: 04.05.2025 11:30:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reasons](
	[Number] [tinyint] NOT NULL,
	[Reason] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Absenteeism_at_work] ([ID], [Reason_for_absence], [Month_of_absence], [Day_of_the_week], [Seasons], [Transportation_expense], [Distance_from_Residence_to_Work], [Service_time], [Age], [Work_load_Average_day], [Hit_target], [Disciplinary_failure], [Education], [Son], [Social_drinker], [Social_smoker], [Pet], [Weight], [Height], [Body_mass_index], [Absenteeism_time_in_hours]) VALUES (1, 26, 7, 3, 1, 289, 36, 13, 33, 239554, 97, 0, 1, 2, 1, 0, 1, 90, 172, 30, 4)
INSERT [dbo].[Absenteeism_at_work] ([ID], [Reason_for_absence], [Month_of_absence], [Day_of_the_week], [Seasons], [Transportation_expense], [Distance_from_Residence_to_Work], [Service_time], [Age], [Work_load_Average_day], [Hit_target], [Disciplinary_failure], [Education], [Son], [Social_drinker], [Social_smoker], [Pet], [Weight], [Height], [Body_mass_index], [Absenteeism_time_in_hours]) VALUES (2, 0, 7, 3, 1, 118, 13, 18, 50, 239554, 97, 1, 1, 1, 1, 0, 0, 98, 178, 31, 0)
INSERT [dbo].[Absenteeism_at_work] ([ID], [Reason_for_absence], [Month_of_absence], [Day_of_the_week], [Seasons], [Transportation_expense], [Distance_from_Residence_to_Work], [Service_time], [Age], [Work_load_Average_day], [Hit_target], [Disciplinary_failure], [Education], [Son], [Social_drinker], [Social_smoker], [Pet], [Weight], [Height], [Body_mass_index], [Absenteeism_time_in_hours]) VALUES (3, 23, 7, 4, 1, 179, 51, 18, 38, 239554, 97, 0, 1, 0, 1, 0, 0, 89, 170, 31, 2)
GO
INSERT [dbo].[compensation] ([ID], [comp_hr]) VALUES (1, 35)
INSERT [dbo].[compensation] ([ID], [comp_hr]) VALUES (2, 49)
INSERT [dbo].[compensation] ([ID], [comp_hr]) VALUES (3, 47)
GO
INSERT [dbo].[Reasons] ([Number], [Reason]) VALUES (0, N'Unkown')
INSERT [dbo].[Reasons] ([Number], [Reason]) VALUES (1, N'Certain infectious and parasitic diseases')
INSERT [dbo].[Reasons] ([Number], [Reason]) VALUES (2, N'Neoplasms')
GO
USE [master]
GO
